/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Provide sufficient contrast against white background */
a {
    color: #54595f;
}
    a:hover {
        color: #54595f;
        text-decoration: none;
    }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0 !important;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.h1, h1 {
    font-size: 3.5rem;
    text-align: center;
    color: #ffffff;
}
h2 {
    font-size: 3rem;
    color: #ffffff;
}
h3 {
    color: #ffffff;
    text-align:center;
}
h4 {
    color: #ffffff;
    font-size:large;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.navbar {
    padding: .4rem 1rem;
    height: 10vh;
}
.pt-5, .py-5 {
    padding-top: 1rem!important;
}
/* Container
-------------------------------------------------- */
@media (min-width: 1200px)  {

    .container {
        max-width: 1500px;
        padding:0;
    }
    
}

/* Main Tab
-------------------------------------------------- */
.iconMainTab {
    width: auto;
    max-height: 50px;
}
.portadaCartabon3D {
    background-image: url("../src/images/cartabon3d/cartabonPortadaGif.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 58vh;
    align-items: center;
    display: grid;
}
.portadaWebDesign {
    background-image: url("../src/images/web/WebDesignPortada.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 58vh;
    align-items: center;
    display: grid;
}
.planoCartabon3D {
    background-attachment: fixed;
    background-image: url("../src/images/cartabon3d/planoOffice.jpg");
    background-position: center center;
    background-size: cover;
    height: 45vh;
    align-items: center;
    display: flex;
}
.materialsSection {
    background-attachment: fixed;
    background-image: url("../src/images/cartabon3d/MatPortada.jpg");
    background-position: center center;
    background-size: 85%;
    height: 45vh;
    align-items: center;
    display: grid;
}
.Web3dDesignSection {
    background-attachment: fixed;
    background-image: url("../src/images/web/salon3d.jpg");
    background-position: center center;
    background-size: 85%;
    height: 45vh;
    align-items: center;
    display: grid;
}
.kitchen3D {
    background-image: url("../src/images/cartabon3d/kitchen3D.jpg");
    background-position: center center;
    background-size: cover;
    height: 45vh;
    align-items: center;
    display: flex;
}
.camarasSection {
    background-image: url("../src/images/cartabon3d/camaras.jpg");
    background-position: center center;
    background-size: cover;
    height: 45vh;
    align-items: center;
    display: grid;
}
.videoPortadaContainer {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 40px auto 40px auto;
    border-style: unset;
}
.imagePortadaContainer {
    width: 100%;
}
    .imagePortadaContainer a {
        text-align: center;
        display: block;
        margin-top: 5px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        font-size: large;
        color: #333333;
    }

.portadaSubTitle {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.blocksSubTitleleft {
    width: 50%;
    margin-right: auto;
    text-align: left;
}
.blocksSubTitleright {
    width: 50%;
    margin-left: auto;
    text-align: right;
}
    
    .imagePortada {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 10px;
    }
.servicios3d {
    display: flex;
    margin: 30px 0 30px 0;
    height: 28vh;
    align-items: center;
}
.imageservicios3d {
    vertical-align: middle;
    display: block;
    max-width: 48%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
    .imageservicios3d:hover {
        transform: scale(1.025);
        cursor:pointer;
    }

.WebDesignIcons {
    background-color: #3434;
    border-radius: 10px;
    vertical-align: middle;
    display: block;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 42px;
}
    .WebDesignIcons:hover {
        transform: scale(1.025);
        cursor: pointer;
    }
.blockContainerLeftText {
    padding-left: 15vw;
    text-align: left;
    width: 65%;
}
.blockContainerRightText {
    text-align: right;
    padding-right: 15vw;
    width: 65%;
}
.button-wrapper {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin-left: auto;
}
.button-wrapper-right {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin-right: auto;
}
.button-container {
    background-color: #23a455;
    font-size: 16px;
    padding: 15px 30px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.button-content-wrapper {
    text-decoration: inherit;
}
.button-text {
    display: inline-block;
    color:#ffffff;
}
/* Login
-------------------------------------------------- */

.loginContainer {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4444;
    padding: 15px;
    border-radius: 10px;
    margin-top: 6vh;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: bold;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 90vh;
}

.bg-image {
  background-image: url('../src/images/cartabon3d/cartabonPortadaGif.gif');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
